$bg_color: #ffffff;
$text_color_black: #000;

@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
}
@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../../fonts/glyphicons-halflings-regular.svg');
}
@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../../fonts/glyphicons-halflings-regular.ttf');
}
@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../../fonts/glyphicons-halflings-regular.woff');
}
@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../../fonts/glyphicons-halflings-regular.woff2');
}
@font-face {
  font-family: 'BebasNeue';
  src: url("../../fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../../fonts/bebasneue-bold-webfont.eot');
  src: url('../../fonts/bebasneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/bebasneue-bold-webfont.woff2') format('woff2'),
       url('../../fonts/bebasneue-bold-webfont.woff') format('woff'),
       url('../../fonts/bebasneue-bold-webfont.ttf') format('truetype'),
       url('../../fonts/bebasneue-bold-webfont.svg#bebas_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  background-color: $bg_color;
  color: $text_color_black;
  line-height: 1.3em;
  position: relative;
  font: {
    size: 1em;
    family: Tahoma, Georgia, Verdana, Arial, sans-serif;
  };
}

.container {
  padding: 0;
  float: none;
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  @media screen and (min-width: 992px) {
    width: 1000px;
  }
}

.collapse {
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}
