<!DOCTYPE html>
<html>
<head>
  <title>Test task</title>
  <script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../styles/css/general.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="col-md-12">
<div class="col-md-4" id="logo"><img src="../images/logo.png" alt="Your logo" class="img-responsive"></div>
<div class="col-md-5" id="menu">
  <ul id="menu-items">
    <li><a href="#">Home</a></li>
    <li>Portfolio</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
  <button class="btn btn-orange" id="blog">Blog</button>
</div>
<div class="col-md-3" id="search"><form id="search-form" action="" method="post"><input type="search" id="search-field" placeholder="Search" /><input type="image" id="search-button" src="../images/search_icon.png" /></form></div>
</header>
<div id="slider" class="col-md-12">
  <div id="slide">
    <p id="design">Good design is good business</p>
    <p id="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.<br>
Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
    <button class="btn btn-orange" id="learn">Learn More</button>
  </div>
  <button class="btn btn-blue" id="our_services">Our services</button>
</div>
<div id="c_background" class="col-md-12">
  <div class="container col-md-12">
    <div class="col-md-3" id="design">
      <img src="../images/laptop.png" class="img-responsive" />
      <h1>Web Design</h1>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Mauris nec ipsum at lacus
        commodo suscipit. <a href="#">Details...</a>
      </p>
    </div>
    <div class="col-md-3" id="optimization">
      <img src="../images/search.png" class="img-responsive" />
      <h1>Search Optimization</h1>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Mauris nec ipsum at lacus
        commodo suscipit. <a href="#">Details...</a>
      </p>
    </div>
    <div class="col-md-3" id="shop">
      <img src="../images/cart.png" class="img-responsive" />
      <h1>Online Shop</h1>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Mauris nec ipsum at lacus
        commodo suscipit. <a href="#">Details...</a>
      </p>
    </div>
    <div class="col-md-3" id="media">
      <img src="../images/like.png" class="img-responsive" />
      <h1>Social Media</h1>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Mauris nec ipsum at lacus
        commodo suscipit. <a href="#">Details...</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
